<table cellpadding=0, cellspacing=0, border=0, width="50%">
  <tr>
    <td>Address:</td>
    <td><%= @building.address %></td>
  </tr>
  <tr>
    <td>City:</td>
    <td><%= @building.city %></td>
  </tr>
  <tr>
    <td>State:</td>
    <td><%= @building.state %></td>
  </tr>
  <tr>
    <td>Zip Code:</td>
    <td><%= @building.zip %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= @building.description %></td>
  </tr>
</table>

